@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Regular.woff2") format("woff2"),
    url("/fonts/IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  color: #333333;
}

body {
  background-color: #fcfcfc;
  font-family: "IRANSansXFaNum" !important;
}


.Toastify__toast {
  background-color: indigo;
  font-family: "IRANSansXFaNum" !important;
}